
  <footer role="contentinfo" class="page-footer">
    <ul class="nols inline">
      <li><a href="{{ '/impressum/' | url }}">Impressum</a></li><!--
      --><li><a href="{{ '/datenschutz/' | url }}">Datenschutz</a></li><!--
      --><li><a href="{{ '/agb/' | url }}">AGB</a></li><!--
      --><li class="copyright">© {% year %} achteintel.org</li>
    </ul>
  </footer>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/serviceworker.js');
      });
    }
  </script>
  {% if 'newsletter' in page.url %}
    <script>
      window.REQUIRED_CODE_ERROR_MESSAGE = 'Wähle bitte einen Ländervorwahl aus.';
      window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Die eingegebenen Informationen sind nicht gültig. Bitte überprüfe das Feldformat und versuche es erneut.";
      window.REQUIRED_ERROR_MESSAGE = "Dieses Feld darf nicht leer sein. ";
      window.GENERIC_INVALID_MESSAGE = "Die eingegebenen Informationen sind nicht gültig. Bitte überprüfe das Feldformat und versuche es erneut.";

      window.translation = {
        common: {
          selectedList: '{quantity} Liste ausgewählt',
          selectedLists: '{quantity} Listen ausgewählt'
        }
      };

      var AUTOHIDE = Boolean(0);
    </script>
    <script src="https://sibforms.com/forms/end-form/build/main.js" charset="utf-8" async defer></script>
  {% endif %}
</body>
</html>
