{% set siteTitle = 'achteintel–LitfassMuseum' %}
{% set siteUrl = 'https://achteintel.org' %}

{% set pageTitle = title + ' - ' + siteTitle %}
{% set currentUrl = siteUrl + page.url %}

<!DOCTYPE html>
<html dir="ltr" lang="de" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:site_name" content="{{ siteTitle }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ currentUrl }}" />
    {% if metaDescription %}
      <meta name="description" content="{{ metaDescription }}">
      <meta name="twitter:description" content="{{ metaDescription }}" />
      <meta property="og:description" content="{{ metaDescription }}" />
    {% endif %}
    {% if ogImage %}
      {% handleOgImage ogImage, ogImageAlt %}
    {% else %}
      {% handleOgImage './src/assets/img/og-image.jpg', 'Eine Litfaßsäule des achteintel—LitfassMuseum mit einem Dinosaurier und dem Slogan Unsere Stadt Unser Museum' %}
    {% endif %}
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/app-icons/app-icon.svg' | url }}">
    <link rel="alternate icon" type="image/png" href="{{ '/assets/app-icons/app-icon-144.png' | url }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ '/assets/app-icons/app-icon-192.png' | url }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ '/assets/app-icons/app-icon-256.png' | url }}">
    <link rel="apple-touch-icon" type="image/png" href="{{ '/assets/app-icons/app-icon-512.png' | url }}">
    <link rel="me" href="https://github.com/achteintel">
    <link rel="me" href="https://twitter.com/achteintel">
    <link rel="me" href="https://instagram.com/achteintel">
    <link rel="manifest" href="{{ '/manifest.json' | url }}">
    <meta name="theme-color" content="#05FFA5">
    {% if 'impressum' in page.url or 'offline' in page.url %}
      <title>{{ pageTitle }}</title>
    {% else %}
      <title>{{ siteTitle }}</title>
    {% endif %}
    <link rel="canonical" href="{{ currentUrl }}" />
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div class="symbols-sprite" hidden>{% sprite %}</div>
    <header id="header" role="banner" class="page-header {% if heroImage %} page-header--hero {% endif %}">
      <div class="page-header-content flex-row flex-row--space-between">
        <h1 class="logo-title">
          {% if 'impressum' in page.url or 'datenschutz' in page.url or 'offline' in page.url or 'fund' in page.url or 'newsletter' in page.url or 'medien' in page.url %}
            <a class="logolink" href="{{ '/' | url }}">
              <span class="logo flex-row">
                {% symbol "logo", "83.3", "70" %}
                {% symbol "dino", "36.68", "78" %}
              </span>
              <span class="label visually-hidden">{{ siteTitle }}</span>
            </a>
          {% else %}
            <span class="logo flex-row">
              {% symbol "logo", "83.3", "70" %}
              {% symbol "dino", "36.68", "78" %}
            </span>
            <span class="label visually-hidden">{{ siteTitle }}</span>
          {% endif %}
        </h1>
        {% if 'newsletter' in page.url %}
        {% else %}
          <a class="button" href="{{ '/newsletter/' | url }}">Newsletter <span class="visually-hidden--small">abonnieren</span></a>
        {% endif %}
      </div>
      {% if heroImage %}
        <div class="page-header-hero">
          {% if heroText %}
            <p>{{ heroText }}</p>
          {% endif %}
          {% responsiveImage heroImage, heroImageAlt, '(min-width: 60em) 90vw, 100vw' %}
        </div>
      {% endif %}
    </header>
