.sib-form-message-panel {
  display: none;
}

.sib-form-message-panel--active {
  display: block;
}

.sib-form-message-panel--active,
.entry__error--primary {
  color: rgb(98, 8, 255);
  color: var(--secondary);
}

.sib-hide-loader-icon {
  display: none !important;
}

.progress-indicator__icon {
  display: inline-block;
  height: 1em;
  margin-right: 0.35em;
  width: auto;
}

.sib-form-block {
  margin-top: 24px; 
  margin-top: var(--spacing-l); 
  margin-bottom: 24px; 
  margin-bottom: var(--spacing-l); 
}

.form__label-row {
  /* column layout defined in layout.css  */
}

.entry__specification {
  display: block;
}

.entry__field {
  margin-top: 8px;
  margin-top: var(--spacing-s);
  margin-bottom: 8px;
  margin-bottom: var(--spacing-s);
}

label.entry__label,
.entry__error--primary {
  margin-left: 16px;
  margin-left: var(--spacing-m);
}

input[type="email"] {
  background: none;
  border: 1px solid;
  border-radius: 32px;
  border-radius: var(--spacing-xl);
  color: rgb(0, 0, 0);
  color: var(--text-color);
  display: block;
  font-family: inherit;
  padding: 8px 16px;
  padding: var(--spacing-s) var(--spacing-m);
  width: 100%;
}

input[type="email"]:focus {
  color: rgb(98, 8, 255);
  color: var(--secondary);
  outline: none;
}
