/*------------------------------------*\
  LAYOUT
\*------------------------------------*/

.page-content,
.page-footer {
  margin: 64px auto;
  margin: var(--spacing-xxl) auto;
  padding: 0 24px;
  padding: 0 var(--spacing-l);
  max-width: 1280px;
  max-width: var(--max-width);
}

@media (min-width: 48em) {
  .page-content h2,
  .page-content h3,
  .page-content h4,
  .page-content p,
  .page-content ul,
  .page-content hr,
  .crew-member-content,
  .form__label-row,
  .page-footer > * {
    margin-right: auto;
    margin-left: auto;
    max-width: 61.8%;
  }

  .crew-member-content > * {
    max-width: unset !important;
  }
}

.page-content hr {
  border: 0;
  background-color: rgb(98, 8, 255);
  background-color: var(--secondary);
  height: 1px;
  margin-top: 64px;
  margin-top: var(--spacing-xxl);
  margin-bottom: 64px;
  margin-bottom: var(--spacing-xxl);
}

.page-content img {
  height: auto;
  width: 100%;
}

.page-footer {
  color: rgb(98, 8, 255);
  color: var(--secondary);
}

.page-footer ul {
  border-top: 1px solid rgb(98, 8, 255);
  border-top: 1px solid var(--secondary);
  padding-top: 24px;
  padding-top: var(--spacing-l);
}

@media (min-width: 25em) {
  .page-footer ul {
    display: flex;
  }

  .copyright {
    flex: 1 0 auto;
    text-align: right;
  }
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-row--space-between {
  justify-content: space-between;
}

.grid-container {
  margin: 0;
}

@media (min-width: 48em) {
  .grid-container {
    display: grid;
    gap: 40px;
    gap: var(--gap); 
    grid-template-columns: repeat(2, 1fr);
    max-width: 100% !important;
  }
}

.grid-container-element {
  margin: 0 0 40px;
  margin: 0 0 var(--spacing-xxl);
}

@supports (display: grid) {
  @media (min-width: 48em) {
    .grid-container-element {
      margin: 0;
    }
  }
}

.grid-container-element > picture {
  display: block;
  margin-bottom: 24px;
}

.grid-container-element > picture > img {
  max-width: 100%;
}

.grid-container-element > p {
  max-width: 100%;
}

.grid-container-element > *:first-child {
  margin-top: 0;
}

.grid-container-element > *:last-child {
  margin-bottom: 0;
}

/* SPACING HELPERS */

.top-spacing--s {
  margin-top: 8px;
  margin-top: var(--spacing-s);
}

.top-spacing--m {
  margin-top: 16px;
  margin-top: var(--spacing-m);
}

.top-spacing--l {
  margin-top: 24px;
  margin-top: var(--spacing-l);
}

.top-spacing--xl {
  margin-top: 32px;
  margin-top: var(--spacing-xl);
}

.topless {
  margin-top: 0;
  padding-top: 0;
}

.bottomless {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* CREW */

ul.crew {
  max-width: 100%;
}

.crew-member {
  position: relative;
  margin-bottom: 64px;
  margin-bottom: var(--spacing-xxl);
}

.crew-member .visual {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  height: var(--avatar);
  width: 150px;
  width: var(--avatar);
}

@media (min-width: 48em) {
  .crew-member .visual {
    position: absolute;
  }
}

.crew-member .visual img {
  height: auto;
  width: 100%;
}
