.main-nav {
  font-size: 16px;
  font-size: var(--label-text);
  margin-left: var(--spacing-s);
}

@media (min-width: 26em) {
  .main-nav {
    font-size: 22px;
    font-size: var(--body-text);
  }
}

.main-nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav ul li {
  margin-right: var(--spacing-s);
  display: block;
}

@media (min-width: 25em) {
  .main-nav ul li {
    display: inline-block;
  }
}

@media (min-width: 48em) {
 .main-nav ul li {
    margin-right: var(--spacing-xl);
  } 
}

.main-nav ul li:last-of-type {
  margin-right: 0;
}

.main-nav ul li.current-nav-item a {
  color: rgb(98, 8, 255);
  color: var(--secondary);
  text-decoration: underline;
}
