/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/

html {
  background-color: rgb(255, 255, 255);
  background-color: var(--background-color);
  color: rgb(0, 0, 0);
  color: var(--text-color);
  font-family: 'Eesti Regular', sans-serif;
  font-family: var(--copy-text);
  font-feature-settings: "kern", "liga", "pnum";
  font-kerning: normal;
  font-size: 100%;
  letter-spacing: 0.045em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  /* font-family: var(--bold-text); */
  font-weight: normal;
}

h1,
h2 {
  font-size: 40px;
  font-size: var(--primary-headline);
}

h3,
h4 {
  font-size: 36px;
  font-size: var(--secondary-headline);
}

h2,
h3 {
  margin-top: 64px;
  margin-top: var(--spacing-xxl);
  margin-bottom: 32px;
  margin-bottom: var(--spacing-xl);
}

h2 + h3 {
  margin-top: 0;
}

.page-content p,
.page-content ul,
.page-content ol,
input[type="email"] {
  font-size: 30px;
  font-size: var(--body-text);
}

.small,
.page-content p.small,
.page-footer {
  font-size: 20px;
  font-size: var(--label-text);
}

.text-tint {
  color: rgb(87, 87, 87);
  color: var(--text-tint);
}

strong {
  font-weight: normal;
  color: rgb(98, 8, 255);
  color: var(--secondary);
}

.logo-title {
  margin: 0;
}

a,
a:visited {
  color: rgb(98, 8, 255);
  color: var(--secondary);
  transition: all 0.3s ease-in;
}

a:hover,
a:focus {
  color: rgb(0, 0, 0);
  color: var(--text-color);
}

.page-header a,
.page-header a:visited {
  color: rgb(0, 0, 0);
  color: var(--text-color);
  text-decoration: none;
}

.page-header a:not(.button):hover,
.page-header a:not(.button):focus {
  color: rgb(98, 8, 255);
  color: var(--secondary);
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

a.button,
a.button:visited,
.button {
  background-color: rgb(98, 8, 255);
  background-color: var(--secondary);
  border-radius: 64px;
  border-radius: var(--spacing-xl);
  color: rgb(255, 255, 255);
  color: var(--background-color);
  display: inline-block;
  font-family: 'Eesti Bold', sans-serif;
  font-family: var(--bold-text);
  font-size: 20px;
  font-size: var(--label-text);
  font-weight: normal;
  padding: 8px 24px;
  padding: var(--spacing-s) var(--spacing-l);
  text-decoration: none;
}

a.button:hover,
a.button:focus,
.button:hover,
.button:focus {
  background-color: rgb(0, 0, 0);
  background-color: var(--text-color);
}

a.button--primary,
a.button--primary:visited {
  background-color: rgb(5, 255, 165);
  background-color: var(--primary);
  color: rgb(0, 0, 0);
  color: var(--text-color);
}

a.button--primary:hover,
a.button--primary:focus {
  background-color: rgb(0, 0, 0);
  background-color: var(--text-color);
  color: rgb(255, 255, 255);
  color: var(--background-color);
}

.cta-link {
  text-decoration: none;
  display: flex;
}

.cta-link-symbol {
  display: inline-block;
  margin-right: 16px;
  margin-right: var(--spacing-m);
  transition: all 0.3s ease-in;
}

.cta-link:hover .cta-link-symbol,
.cta-link:focus .cta-link-symbol {
  margin-right: 24px;
  margin-right: var(--spacing-l);
}

.cta-link-symbol svg {
  display: inline;
  height: 1em;
  vertical-align: middle;
  width: auto;
}

.nols {
  list-style: none;
  padding-right: 0;
  padding-left: 0;
}

ul.inline li {
  display: inline-block;
}

a.inline-symbol svg {
  display: inline;
  height: 1em;
  width: auto;
}

ul.meta li::after,
.page-footer ul li:first-of-type::after {
  content: '/';
  display: inline;
}

ul.meta li::after {
  margin: 0 0.35em;
}

ul.meta li:last-of-type::after {
  display: none;
  margin: 0;
}
