## achteintel–LitfassMuseum

Das achteintel—LitfassMuseum kommt. Vom **23. Juli bis zum 2. August** werden wir auf zwölf ganze Litfaßsäulen Werke von **Carolin Segebrecht**, **DEAR DEER ART CONSPIRACY**, **Chiharu Koda**, **DOME**, **Jana Gruszeninks** und **Michael Gibis** ausstellen, und so mit positiven Zeichen das Stadtbild von Karlsruhe erfrischen. 

Wir wollen Aufmerksamkeit erregen, Interesse wecken und Mut machen. Mit Werken, die über den Bildschirmrand hinaus in unseren Alltag wirken.

142 Unterstützer\*innen sorgten dafür, dass unsere Crowdfunding Kampagne am 20. Mai erfolgreich endete! Wir sind dankbar und überglücklich. Seither kümmern wir uns mit Hochdruck um die Umsetzung der Ausstellung. **Unsere Stadt Unser Museum.**
