## achteintel–LitfassMuseum

Die erste Ausstellung des achteintel—LitfassMuseum wurde bis zum 12. August verlängert. Vom **23. Juli bis zum 12. August** fand die erste Ausstellung regulär auf zwölf ganzen Litfaßsäulen mit Werken von **Carolin Segebrecht**, **DEAR DEER ART CONSPIRACY**, **Chiharu Koda**, **DOME**, **Jana Gruszeninks** und **Michael Gibis** statt. 

Aus dem Verbund der Litfaßsäulen entsteht ein Museum im öffentlichen Raum. Jede dieser Säulen ist ein nach außen gewölbter Ausstellungsraum. Die Kunstwerke können einzeln betrachtet oder auf einer Tour entlang der Litfaßsäulen als gesamte Ausstellung erkundet werden.

142 Unterstützer\*innen sorgten dafür, dass unsere Crowdfunding Kampagne am 20. Mai erfolgreich endete! Wir sind dankbar und überglücklich. Seither kümmern wir uns mit Hochdruck um die Umsetzung der Ausstellung. **Unsere Stadt Unser Museum.**
