## achteintel–LitfassMuseum

Das achteintel—LitfassMuseum wird kommen. Vom **23. Juli bis zum 2. August** werden wir zwölf ganze Litfaßsäulen mit Kunst, Grafik und Illustration bespielen, und so mit positiven Zeichen das Stadtbild von Karlsruhe erfrischen. 

Wir wollen Aufmerksamkeit erregen, Interesse wecken und Mut machen. Mit Werken, die über den Bildschirmrand hinaus in unseren Alltag wirken.

Unsere Crowdfunding Kampagne endete am 20. Mai erfolgreich und wir sind dankbar und überglücklich. Ab jetzt kümmern wir uns mit Hochdruck um die Umsetzung der Ausstellung. **Unsere Stadt Unser Museum.**
