<aside class="cta cta--crowdfunding">
  <div class="not-collecting">
    <p>Die Crowdfunding Kampagne startet in:</p> 
    <p id="countdown-clock" class="flex-row" data-deadline="April 20 2021 18:00:00 GMT+0200">
      <span class="entity">
        <span class="digit days"></span>
        <small>Tagen</small>
      </span>
      <span class="entity">
        <span class="digit hours"></span>
        <small>Stunden</small>
      </span>
      <span class="entity">
        <span class="digit minutes"></span>
        <small>Minuten</small>
      </span>
      <span class="entity">
        <span class="digit seconds"></span>
        <small>Sekunden</small>
      </span>
    </p>
  </div>
  <div class="collecting hidden">
    <h3>Crowdfunding Kampagne</h3>
    <p>20.4.21 – 20.5.21</p>
    {# <p><a rel="noopener" target="_blank" class="button" href="https://wemakeit.com/projects/achteintel–litfassmuseum">Jetzt unterstützen</a></p> #}
  </div>
</aside>
