<hr>

<h2 id="crew">Wer steckt dahinter?</h2>

<ul class="crew nols">
  <li class="crew-member">
    <div class="visual">
      {% responsiveImage './src/assets/img/mitch.jpg', 'Michael Gibis', '(min-width: 48em) 30vw, 50vw' %}
    </div>
    <div class="crew-member-content">
      <p><strong>Michael Gibis</strong> ist Kommunikationsdesigner aus Karlsruhe und arbeitet als Art Director in den Themengebieten Markenentwicklung, UX und UI Design, Editorial Design, Illustration und Fotografie. Inspiration findet er in der Bewegung. Bewegung bekommt er durch seine Familie, sein Skateboard, die Natur, das Reisen. Und eines Tages rollte er an einer leeren Litfaßsäule vorbei.</p>
      <p><a class="cta-link" href="https://michaelgibis.com" rel="noopener" target="_blank">
        <span class="cta-link-symbol">
          {% symbol "arrow-right", "65.9", "30" %}
        </span>
        <span class="label">michaelgibis.com</span>
      </a></p>
    </div>
  </li>
  <li class="crew-member">
    <div class="visual">
      {% responsiveImage './src/assets/img/depone.jpg', 'Daniel Ehniss', '(min-width: 48em) 30vw, 50vw' %}
    </div>
    <div class="crew-member-content">
      <p><strong>Daniel Ehniss</strong> ist Vater und Webdesigner aus Karlsruhe. Zu seinem Alltag gehört das Zubereiten von Mahlzeiten genauso wie semantischer Code. Gute Musik, anregende Bücher und hervorragender Kaffee begleiten ihn dabei. Leere Litfaßsäulen fielen ihm auf, als er in die Pedale trat um von A nach B zu kommen.</p>
      <p><a class="cta-link" href="https://depone.net" rel="noopener" target="_blank">
        <span class="cta-link-symbol">
          {% symbol "arrow-right", "65.9", "30" %}
        </span>
        <span class="label">depone.net</span>
      </a></p>
    </div>
  </li>
</ul>
