<aside class="cta cta--crowdfunding">
  <h3>achteintel—LitfassMuseum</h3>
  <p>23.7.21 – 2.8.21</p>
  <p class="cta-button"><a download class="button" href="{{ '/downloads/achteintel.ics' | url }}">Kalender herunterladen</a></p>
</aside>
