<aside class="cta cta--crowdfunding" aria-labelledby="cta-crowdfunding-title">
  <h3 id="cta-crowdfunding-title">Crowdfunding Kampagne</h3>
  <p>20.4.21 – 20.5.21</p>
  <p class="cta-button"><a rel="noopener" target="_blank" class="button" href="https://wemakeit.com/projects/achteintel-litfassmuseum">Jetzt unterstützen</a></p>
</aside>
