<aside class="cta cta--crowdfunding" aria-labelledby="cta-museum-title">
  <h3 id="cta-museum-title">achteintel—LitfassMuseum</h3>
  <p>23.07.21 – 12.08.21</p>
  <p class="cta-link-container"><a class="cta-link" href="{{ '/museum/ausstellung-01/' | url }}">
    <span class="cta-link-symbol">
      {% symbol "arrow-right", "65.9", "30" %}
    </span>
    <span class="label">mehr Infos</span>
  </a></p>
</aside>
