<aside class="cta cta--crowdfunding" aria-labelledby="cta-museum-title">
  <h3 id="cta-museum-title">achteintel—LitfassMuseum</h3>
  <p>23.7.21 – 2.8.21</p>
  <p class="cta-button"><a download class="button" href="{{ '/downloads/achteintel.ics' | url }}">Kalender herunterladen</a></p>
</aside>
