- - -

<h2 id="medienspiegel">Medienspiegel</h2>

<ul class="media-digest">
{% for item in media_digest %}
  <li class="media-digest-item">
    <a href="{{ item.url | url }}" rel="noopener" target="_blank">{{ item.outlet }} / {{ item.date | readableDate }}</a>
  </li>
{% endfor %}
</ul>

{% if 'medien' in page.url %}
{% else %}
Auf der Suche nach den [Medienmitteilungen]({{ '/medien' | url }})? 
{% endif %}
