- - -

<h2 id="medienspiegel">Medienspiegel</h2>

- <a href="https://dieschreibmaschine.net/2021/04/20/krimskrams-crowdfunding-aktion-fuer-das-achteintel-litfassmuseum/" rel="noopener" target="_blank">Die Schreibmaschine / 20.04.2021</a>
- <a href="https://www.die-neue-welle.de/display-news/litfassmuseum-kunst-auf-litfasssaeulen-im-karlsruher-stadtgebiet" rel="noopener" target="_blank">Die Neue Welle / 22.04.2021</a>
- <a href="https://www.inka-magazin.de/kunst-design-artikeluebersicht.html" rel="noopener" target="_blank">INKA Magazin / 01.05.2021</a>
- <a href="https://www.facebook.com/slanted.blog.magazine/posts/10157743168511568" rel="noopener" target="_blank">Slanted Blog Magazine / 12.05.2021</a>
- <a href="https://karlsruhepuls.de/outdoor-kunst-in-karlsruhe/" rel="noopener" target="_blank">Karlsruhepuls / 14.05.2021</a>

{% if 'medien' in page.url %}
{% else %}
Auf der Suche nach den [Medienmitteilungen]({{ '/medien' | url }})? 
{% endif %}
