- - -

<h2 id="medienspiegel">Medienspiegel</h2>

<ul class="media-digest">
{% for item in media_digest %}
  <li class="media-digest-item">
    {% if item.url %}<a href="{{ item.url | url }}" rel="noopener" target="_blank">{% endif %}{{ item.outlet }} / {{ item.date | readableDate }}{% if item.url %}</a>{% endif %}
  </li>
{% endfor %}
</ul>

{% if 'medien' in page.url %}
{% else %}
Auf der Suche nach den [Medienmitteilungen]({{ '/medien/#medienmitteilungen' | url }})? 
{% endif %}
