<h2>Bleib auf dem Laufenden</h2>

<p>Du willst wissen wie sich das achteintel – LitfassMuseum weiterentwickelt? Kein Problem, wir verschicken einen Newsletter und bleiben über <a target="_blank" rel="me noopener" href="https://twitter.com/achteintel">Twitter</a> und <a target="_blank" rel="me noopener" href="https://instagram.com/achteintel">Instagram</a> mit dir in Kontakt. Über diese Kanäle erfährst du wie sich das Projekt weiterentwickelt, welche Künstler*innen ihre Werke ausstellen werden, wie die Crowdfunding-Kampagne läuft und alles Wichtige zum Zeitpunkt und den Standorten der Ausstellung.</p>

<p><a class="button" href="{{ '/newsletter/' | url }}">Newsletter abonnieren</a></p>