<h2>Bleib auf dem Laufenden</h2>
<p>Du willst wissen wie sich das achteintel—LitfassMuseum weiterentwickelt? Kein Problem, wir pflegen ein <a href="{{ '/blog/' | url }}">Blog</a>, dessen <a href="{{ '/feeds/feed.xml' | url }}">Feed</a> Du abonnieren kannst, verschicken einen <a href="{{ '/newsletter/' | url }}">Newsletter</a> und bleiben über <a target="_blank" rel="me noopener" href="https://twitter.com/achteintel">Twitter</a> und <a target="_blank" rel="me noopener" href="https://instagram.com/achteintel">Instagram</a> mit dir in Kontakt.</p>
<p>Über diese Kanäle erfährst du wie sich das Projekt weiterentwickelt, mehr über die Künstler*innen, die ihre Werke ausstellen, wie die Crowdfunding-Kampagne gelaufen ist und alles Wichtige zum Zeitpunkt und den Standorten der Ausstellung.</p>
